# Lab 3 Collection datatypes

Objectives:

1. Learn how to declare and assign value to list, tuple, set, dict variables.
2. Learn how to retrieve data from list, tuple, set, dict variables

# Datatypes
In python 3, there are 5 groups of standard datatypes available
1. **Boolean**: the value contains either True or False
        isMember = True
2. **Numeric**: the real number either whole number(int datatype) or floating point (float datatype),  or complex number (complex datatype) 
        age = 20
        print(type(age) 
        weight = 55.20
        print(type(weight) 
        coefficient = 1+2j
        print(type(coefficient) 
3. **Sequences**: the collection of objects stored in sequencial order. 
        age_list = [15,14,14]
        print(age_list)



*   String is a sequence of characters. This datatype often use to handle text formated data. Single quote or double quote can be used to create a string within one-line, and tripple quote is used to create a string across multiple line.

        str_name = "John"
        str_surname = 'Doh'
        str_description = '''Single quote or double quote can be used to create a string within one-line, 
        and tripple quote is used to create a string across multiple line.'''

*   List is a sequence of mutable objects. List operators are the following

  - Creating list:	

          name_list = ['Bobs','Alice','john']	

  - Accessing the object in list: 
          name_list[0]

   - Deleting the object in list: 
          del name_list[0]

   - Updating the object in list
          name_list[0] = 'New user'
   - Adding an object to the list:

          name_list.append(‘Napa’) 	
    - Determine the number of objects in list: len()
          len(name_list) 

*   Tuple is a sequence of immutable objects (allowing faster execution). Tuple operators are the following 

  - Creating list:	

          name_tuple = ('Bobs','Alice','john')	

  - Accessing the object in list: 
          name_tuple[0]
  - Determine the number of objects in list: len()
          len(name_tuple)

In [ ]:
str_name = "John"
str_surname = 'Doh'
str_description = '''Single quote or double quote can be used to 
  create a string within one-line, and tripple quote is used to create 
  a string across multiple line.'''
print(str_name)
print(str_name[0])
print(str_description)

John
J
Single quote or double quote can be used to
  create a string within one-line, and tripple quote is used to create
  a string across multiple line.

4. **Set**:  the collection of objects stored in unorder manner where storing duplication of objects are not allowed
        fruit_set = {'Apple','Banana','Coconut'}
        print(fruit_set)
5. **Dictionary**:  the collection of key-value pairs stored in unorder manner where storing duplication of objects are not allowed
        students_dict = {'1001':'Bobs','1008':'Delan','1010':'Doe'}
        print(students_dict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict['color'] = 'yellow'
thisdict.update({'color': 'yellow1'})
thisdict['color'] = 'red'

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

**Exercise #:** Write code to create a collection variable named carCollection with 5 member: 'Benz', 'Honda', 'Toyota', 'BMW', 'MG' with the following datatypes:
 1. set
 2. tuple
 3. list

In [ ]:
carCollection = []
# 1. set

print('1. ',type(carCollection))
# 2. tuple

print('2. ',type(carCollection))
# 3. list

print('3. ',type(carCollection))

1.  <class 'list'>
2.  <class 'list'>
3.  <class 'list'>

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict['color'] = 'yellow'
thisdict.update({'color': 'yellow1'})
thisdict['color'] = 'red'

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
carCollection = []
# 1. set

print('1. ',type(carCollection))
# 2. tuple

print('2. ',type(carCollection))
# 3. list

print('3. ',type(carCollection))

1.  <class 'list'>
2.  <class 'list'>
3.  <class 'list'>

# Question 1 (2 pt) String construction

Write code to perform the following string operators
- take first name and last name from a user's name and 
- construct the username for that user by concatenating the first chracter of first name with the last name with '_' in between them


```
Enter your first name and last name: John Doe 
====================
Your username is: J_Doe
```

```
Enter your first name and last name: Siri iOS 
====================
Your username is: S_iOS
```

In [ ]:
First,Last = input(("Enter your first name and last name: ")).split()
username = First[0] +"_"+Last[0:3]
print("Your username is:",username)

Enter your first name and last name: Mix kub
Your username is: M_kub

#Question 2 (2 pt): List construction and modification
Write code to 
1. Create list named 'direction' with 4 objects: 'North','East','South','West' 
2. Adding the object 'South-West' between 'South' and 'West'
3. Determine the direction list length (number of objects)

In [ ]:
#  a. Create list named 'direction' with 4 objects: 'North','East','South','West' 
# Put your code here
direction = ["North","East","South","West"]
print ("direction[0]: ", direction[0])
print ("direction[1]: ", direction[1])
print ("direction[2]: ", direction[2])
print ("direction[3]: ", direction[3])
#  b. Then, adding the object 'South-West' between 'South' and 'West'
# Put your code here
direction.insert(3,"South-West")
print(direction)
#  c. Determine the direction list length (number of objects)
# Put your code here
Num = len(direction)
print ('the number element in the list named direction is:',Num)

direction[0]:  North
direction[1]:  East
direction[2]:  South
direction[3]:  West
['North', 'East', 'South', 'South-West', 'West']
the number element in the list named direction is: 5

# Question 3 (2 pt) Word processing in Python
```
str_1 = '''Bitcoin is a decentralized digital currency that can be transferred on the peer-to-peer bitcoin network. Bitcoin transactions are verified by network nodes through cryptography and recorded in a public distributed ledger called a blockchain.'''

str_2 = '''Ethereum is a decentralized, open-source blockchain with smart contract functionality. Ether is the native cryptocurrency of the platform. Among cryptocurrencies, Ether is second only to Bitcoin in market capitalization. Ethereum was conceived in 2013 by programmer Vitalik Buterin.'''
```
Given the following two paragraphs, 
- find the set of words that are in both paragraphs
- find the set of words that are in the first paragraph but not in - the second paragraph
- find the set of words that are in either of both paragraphs

In [ ]:
str_1 = '''Bitcoin is a decentralized digital currency that can be transferred 
on the peer-to-peer bitcoin network . Bitcoin transactions are verified by network 
nodes through cryptography and recorded in a public distributed ledger called a blockchain .'''

str_2 = '''Ethereum is a decentralized and open-source blockchain with smart 
contract functionality . Ether is the native cryptocurrency of the platform . 
Among cryptocurrencies , Ether is second only to Bitcoin in market capitalization . 
Ethereum was conceived in 2013 by programmer Vitalik Buterin .'''
str_1_set = set(str_1.split())
str_2_set = set(str_2.split())
print(str_1_set|str_2_set)

{'smart', 'Ethereum', 'contract', 'on', 'second', 'platform', 'open-source', 'functionality', 'called', 'that', 'by', 'capitalization', 'be', 'Among', 'public', 'only', 'of', 'Vitalik', 'nodes', '.', 'Bitcoin', 'can', 'ledger', 'market', 'peer-to-peer', 'through', '2013', 'decentralized', 'are', 'cryptocurrency', 'cryptography', 'a', 'digital', 'transferred', 'Buterin', 'network', 'to', 'recorded', 'Ether', 'the', 'cryptocurrencies', 'verified', 'with', 'and', 'programmer', 'blockchain', 'distributed', 'was', ',', 'bitcoin', 'in', 'is', 'conceived', 'currency', 'transactions', 'native'}

In [ ]:
print(str_1_set-str_2_set)

{'are', 'cryptography', 'digital', 'transferred', 'on', 'network', 'recorded', 'verified', 'called', 'that', 'be', 'public', 'distributed', 'bitcoin', 'nodes', 'currency', 'can', 'transactions', 'ledger', 'peer-to-peer', 'through'}

In [ ]:
set3 = str_1_set.union(str_2_set)
print(set3)

{'smart', 'Ethereum', 'contract', 'on', 'second', 'platform', 'open-source', 'functionality', 'called', 'that', 'by', 'capitalization', 'be', 'Among', 'public', 'only', 'of', 'Vitalik', 'nodes', '.', 'Bitcoin', 'can', 'ledger', 'market', 'peer-to-peer', 'through', '2013', 'decentralized', 'are', 'cryptocurrency', 'cryptography', 'a', 'digital', 'transferred', 'Buterin', 'network', 'to', 'recorded', 'Ether', 'the', 'cryptocurrencies', 'verified', 'with', 'and', 'programmer', 'blockchain', 'distributed', 'was', ',', 'bitcoin', 'in', 'is', 'conceived', 'currency', 'transactions', 'native'}

# Question 4 (3pt) User-password using dict

Write code that allow use to
1. Create account by providing new username and  password and insert the pair in user_dict

```
Insert: test, 1234
password_dict = {'test':1234}
Insert: test1, 5678
password_dict = {'test':1234,'test1':5678}
Insert: test2, aaaa
password_dict = {'test':'1234','test1':'5678','test2':'aaaa'}
```

2. Retrieve password from user_dict by inputting the correct username

```
Retrieve: test1
⇒ 5678
Retrieve: test
⇒ 1234
```

3. Update password in user_dict by inputting the correct username and new password
```
Update: test2, 9999
password_dict = {'test':'1234','test1':'5678','test2':'9999'}
```

In [104]:
#creat-e account by providing new username and password and insert the pair in user_dict
user_dict = {}
user1,pass1 = input("Insert:").split()
user_dict.update({user1 : pass1}) 
print(user_dict)
user2,pass2 = input("Insert:").split()
user_dict.update({user2 : pass2}) 
print(user_dict)
user3,pass3 = input("Insert:").split()
user_dict.update({user3 : pass3}) 
print(user_dict)

Insert:test 1111
{'test': '1111'}
Insert:test1 2222
{'test': '1111', 'test1': '2222'}
Insert:test2 3333
{'test': '1111', 'test1': '2222', 'test2': '3333'}

In [99]:
#retrieve password from user_dict by inputting the correct username
user_dict = {'test':'1234','test1':'5678','test2':'aaaa'}
user = input("Retrieve :")
print(user_dict[user])

Retrieve :test
1234

In [100]:
#update password in user_dict by inputting the correct username and new password
user_dict = {'test':'1234','test1':'5678','test2':'aaaa'}
user,password = input("enter your username and password :").split()
user_dict.update([(user, password)])
print(user_dict)

enter your username and password :test 2222
{'test': '2222', 'test1': '5678', 'test2': 'aaaa'}

# Question 5 (1pt)
1. Write code to create the collection variable with four strings 'Apple','Banana','Orange', 'Kiwi'as the following datatypes:
- list
- tuple
- set
2. Write code to  insert 'Kiwi' into variables of list, tuple, and set, and discuss the result
- list
- tuple
- set

In [ ]:
list1 =  ['Apple','Banana','Orange']
tuple1 = ('Apple','Banana','Orange')
set1 = {'Apple','Banana','Orange'}

In [103]:

list1 =  ['Apple','Banana','Orange']
tuple1 = ('Apple','Banana','Orange')
set1 = {'Apple','Banana','Orange'}
#list
list1.append("Kiwi")
print(list1)
#tuple
tuple2=("Kiwi",)
tuple3 = tuple1 + tuple2
print(tuple3)
#set
set1.add("Kiwi")
print()

['Apple', 'Banana', 'Orange', 'Kiwi']
('Apple', 'Banana', 'Orange', 'Kiwi')

In [ ]:
del print